/*769-1279/481-768/320-480*/

/*header*/
/* Tablet styles */
@media (max-width: 768px) {
    .header-nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  
    .header-nav ul {
      flex-direction: column;
    }
  
    .header-nav li {
      margin: 0;
      border-bottom: 1px solid #ccc;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      background-color: transparent;
      color: $white;
      border: none;
      cursor: pointer;
    }
  }
  
  /* Mobile styles */
  @media (max-width: 480px) {
    .header-logo {
      font-size: 1.5rem;
    }
  }


  /*hero1*/
  @media (max-width: 480px) {
	.hero_1 {
		flex-direction: column;
		height: auto;
		width: 100%;
		.hero-text {
		
			
			height: auto;
			width: 100%;
			
			
			color: $white;
			h1 {
				font-size: smaller;
				margin-bottom: 10px;
			}
		}
		.hero-tagline {
				
				height: auto;
				width: 100%;
				
				color: $white;
				margin: 25px auto;
			}
		}
		
	}	

/*events/cards*/
/*event mobile and tablet*/
@media (max-width: 480px) {
	#events {
		justify-content: center;
		
	}
	.event {
		width: 90vw;
	}
	.event-photo {
		width: 90%;
	}
	.event-details {
		width: 100%;
	}
  }

  /*pod/card*/
  @media (max-width: 480px) {
	#pod {
		width: 100%;
		padding: 0px 10px;
		height: auto;
		align-content: flex-start;
	}

	.pone .ptwo .pthree {
		flex-basis: 100%;
		height: auto;
		margin-bottom: 20px;
	}
  }

  @media (max-width: 768px) {
	#pod {
		width: 100%;
		height: auto;
		padding: 0px 15px 15px 15px;
	}

	.pone, .ptwo, .pthree {
		flex-basis: 100%;
		margin: 20px 0;
	}
}
/*end of pod*/

/*#hd_cards*/
@media (max-width: 480px) {
	#hd_cards {
		width: 100%;
		padding: 0px 10px;
		height: auto;
		align-content: flex-start;
	}

	.one, .two, .three, .four {
		flex-basis: 100%;
		height: auto;
		margin-bottom: 20px;
	}
  }

  @media (max-width: 768px) {
	#hd_cards {
		width: 100%;
		height: auto;
		padding: 0px 15px 15px 15px;
	}

	.one, .two, .three, .four {
		flex-basis: 100%;
		margin: 20px 0;
	}
}

/*footer*/
@media (max-width: 480px) {
    .footer1 {
       flex-direction: column;
        min-height: auto;
        justify-content: center;
        .logo-ftr1 {
            width: 100vw;
            margin: 0;
            img {
                height: 100px;
                width: 100px;
                margin: 0 auto;
            }
        }
    }

    #contact-info {
        min-width: 100vw;
        margin: 0 auto;
    }
     .social-icons {
        width: 100vw;
        margin: 0;
        justify-content: center;
        flex-direction: column;

        img {
            height: 30px;
            width: 30px;
            margin: 0 0.25rem;
        }
    }
}
