<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="ftr-container">

        <!-- Footer 1 -->
        <footer class="footer1">
            <div id="contact-info">
                <p>Contact us: <a href="mailto:quackers@quackfest.com">quackers@quackfest.com</a></p>
                <p>Coordinator: Quackers McQuackerson</p>
                <p>Phone: (555) 12 Quack (127-8225)</p>
                <p>Address: 123 Main Street, City, Country</p>
                <div id="t_c_anchors">
                    <a href="#">Terms</a>
                    <a href="#">Conditions</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
            <div class="logo-ftr1">
                <a href="#header-logo"><img src="../components/images/logo.png" alt="logo for Quackfest 2023"></a>
                <p>&copy; 2023 HildegunStudio</p>
            </div>

            <div class="social-icons">
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/fb_round_color.png"></i></a>
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/ig_rd_color.png"></i></a>
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/pinterest_rd_color.png"></i></a>
                <p>Connect with us on social media for the latest announcements</p>
            </div>
        </footer>
        <!--end of footer 1-->

        <!-- Footer 2 -->
        <footer class="footer2">
            <div class="social-icons">
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/pinterest_p_color.png"></i></a>
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/tktk_rd_color.png"></i></a>
                <a href="#" class="social-icon"><img
                        src="../components/imgs_rounded_square_sm_icons/ig_rd_color.png"></i></a>
            </div>
            <div class="ftr2-center">
                <div class="logo-ftr2">
                    <h3>Logo</h3>
                    <p>&copy; 2023 HildegunStudio</p>

                </div>
            </div>
            <div class="additional-info">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </footer>
        <!--end of footer 2-->
      


    </div>

</body>

</html>